@model IEnumerable<PROYECTO_WEBv1.Models.trazabilidad>

@{
    ViewBag.Title = "Index";
}


<style>
    .btnAtras {
        background-image: url('../../images/icons/reply_black_24dp.svg');
        height: 24px;
        width: 24px;
        display: block;
    }
    .btnAgregar {
        background-image: url('../../images/icons/add_circle_outline_black_24dp.svg');
        height: 24px;
        width: 24px;
        display: block;
    }

    .btnEditar,
    .btnEliminar,
    .btnDetalles {
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: middle; /* Ajusta según sea necesario */
    }

    .btnEditar {
        background-image: url('../../images/icons/edit_black_24dp.svg');
    }

    .btnEliminar {
        background-image: url('../../images/icons/delete_black_24dp.svg');
    }

    .btnDetalles {
        background-image: url('../../images/icons/info_black_24dp.svg');
    }

    #btn1 {
        padding-top: 20px !important;
    }

    #tablita tr:nth-child(odd) {
        background: rgb(128, 128, 128, 0.29) !important; /* 0.3 para reducir la opacidad */
    }

    h5 {
        color: #009A44 !important;
        font-weight: bold !important;
    }
</style>


<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col s11"><h5>Trazabilidad de envio</h5></div>
        <div class="col s1" id="btn1">@Html.ActionLink(" ", "Create", null, new { @class = "btnAgregar" })</div>
    </div>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s7">
            <table class="centered" id="tablita">
                <tr>
                    <td><label>Envio</label></td>
                    <td><label>Punto de control</label></td>
                    <td><label>Fecha de registro</label></td>
                    <td></td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.envios.id_envio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.punto_control)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha_registro)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.id_trazabilidad }, new { @class = "btnEditar" }) |
                            @Html.ActionLink(" ", "Details", new { id = item.id_trazabilidad }, new { @class = "btnDetalles" }) |
                            @Html.ActionLink(" ", "Delete", new { id = item.id_trazabilidad }, new { @class = "btnEliminar" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col s12">
                @Html.ActionLink(" ", "Index", "envios",null, new { @class = "btnAtras" })
        </div>
    </div>
</div>









@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.punto_control)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.envios.descripcion_paquete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.punto_control)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.envios.descripcion_paquete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_trazabilidad }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_trazabilidad }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_trazabilidad })
            </td>
        </tr>
    }

</table>*@


