@model PROYECTO_WEBv1.Models.ciudades

@{
    ViewBag.Title = "Edit";
}

<style>

    #editarCiudades {
        background-color: #009A44 !important;
    }

    .btnAgregar {
        background-image: url('../../images/icons/add_circle_outline_black_24dp.svg');
        height: 24px;
        width: 24px;
        display: block;
    }

    .btnAtras {
        background-image: url('../../images/icons/reply_black_24dp.svg');
        height: 24px;
        width: 24px;
        display: block;
    }


    .btnEditar,
    .btnEliminar,
    .btnDetalles {
        height: 24px;
        width: 24px;
        display: inline-block;
        vertical-align: middle; /* Ajusta según sea necesario */
    }

    .btnEditar {
        background-image: url('../../images/icons/edit_black_24dp.svg');
    }

    .btnEliminar {
        background-image: url('../../images/icons/delete_black_24dp.svg');
    }

    .btnDetalles {
        background-image: url('../../images/icons/info_black_24dp.svg');
    }

    #btn1 {
        padding-top: 20px !important;
    }

    #tablita tr:nth-child(odd) {
        background: rgb(128, 128, 128, 0.29) !important; /* 0.3 para reducir la opacidad */
    }

    h5 {
        color: #009A44 !important;
        font-weight: bold !important;
    }
</style>

<div class="container">

    <div class="row">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5>Editar ciudad</h5>
            <div class="row"></div>
            @*<hr />*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_ciudad)

            <div class="row">
                <div class="col s4"></div>
                <div class="col s4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ciudad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col s12"></div>
            </div>

            <div class="row">
                <div class="col s10">
                    <div>
                        @Html.ActionLink(" ", "Index", null, new { @class = "btnAtras" })
                    </div>
                </div>
                <div class="col s2">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-default" id="editarCiudades" />
                        </div>
                    </div>
                </div>
            </div>




            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>*@
        </div>
        }

    </div>

</div>




@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
